.admision-head {
  background: url("../../assets/admision-head.jpg") center center no-repeat;
  background-size: cover;
  height: 265px;
  width: 100%;
}

.admision-head > div {
  background-color: rgba(19, 69, 110, 0.301);
  height: 100%;
}

.admision-head .title-yellow h2 {
  font-weight: 500;
  font-size: 2em;
  font-family: "Oswald";
  color: white;
  margin-bottom: 0.9em;
}

.icons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon-colum {
  display: flex;
  justify-content: center;
  width: 50px;
}

.icon-colum img {
  height: 50px;
}

.icon-info {
  position: fixed;
  bottom: 0;
  left: 80%;
  /*   right: 90%;
  bottom: 3em;
  left: 0; */
}

.icon-info img {
  height: 40px;
  border-radius: 40px;
  transition: 5s;
}

.icon-info a:active {
  position: relative;
  top: 0.5px;
}

.modal-perfil-grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.prsri-btn {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.angle-inactive {
  display: none;
  transform: translateY(40px);
  /*   transform: translateY(0px);
 */
  transition: 0.3s;
  will-change: transform;
}

.prsri-btn i {
  margin-top: 0.5em;
  font-size: 1.4em;
  transition: 1s;
}

.prsri-num {
  font-family: "Oswald";
  color: var(--textColor);
  font-size: 3em;
}

.prsri-text {
  margin-left: 0.9em;
  margin-top: 0.4em;
  display: flex;
  align-items: center;
  text-align: left;
}

.hr-prsi-modal {
  margin: 0;
  border: 0.9px;
}

.trans {
  transition: 1s;
}

.becas-help {
  margin-bottom: 6em;
}

.becas-help p {
  margin-top: -0.5em;
}

.container.more-info-yellow {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

body #form {
  background-color: white;
}

.container.more-info-yellow a {
  background-color: var(--btnPpal);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.modal-dialog {
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  height:  auto;
  width: auto;
  position: fixed;
  top: 0.5em;
  bottom: 1em;
  left: 0.5em;
  right: 0.5em;
  display: flex;
  justify-content: center;
}

.modal-dialog-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.container-header-form {
  display: flex;
  justify-content: space-between;
}

.quit {
  padding-top: 1em;
  height: 1em;
  width: 1em;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
}

.header-form {
  display: grid;
  height: auto;
  text-align: center;
  margin-top: 1em;
  border-left: 0.5em solid var(--btnPpal);
  margin-bottom: 0.5em;
}

.header-form h1,
.header-form h2 {
  font-family: "Oswald";
  font-weight: 500;
  margin: 0;
  margin-left: 0.3em;
  font-size: 1em;
  color: (--colorPrimary);
}

.header-form h1 {
  font-size: 1.4em;
  margin-top: 0.2em;
  text-align: left;
}

.m-98 {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.sub-title {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.form-l {
  display: grid;
  grid-template-columns: 1fr;
}

label {
  margin-top: 0.3em;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

input[type="text"] {
  font-family: "Montserrat";
  font-weight: 300;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.acept-politica {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-text-politica {
  margin-left: 1.7em;
}

.acept-politica input {
  padding: 5em;
  height: 2em;
  width: 1.4em;
}

select {
  font-family: "Montserrat";
  font-weight: 300;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-btn-form {
  padding-top: 0.5em;
}

.btn-form {
  width: 100%;
  height: 2.5em;
  border-radius: 0.4em;
  background-color: var(--colorPrimary);
  color: white;
  font-size: 0.9em;
  font-family: "Montserrat";
}

.container-form {
  background-color: rgb(255, 255, 255);
  filter: blur(100px);
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
