

.admision-head {
  background: url("../../assets/admision-head.jpg") center center no-repeat;
  background-size: cover;
  height: 265px;
  width: 100%;
}
.admision-head > div {
  background-color: rgba(19, 69, 110, 0.301);
  height: 100%;
}
.admision-head .title-yellow h2 {
  font-weight: 500;
  font-size: 2em;
  font-family: "Oswald";
  color: white;
  margin-bottom: 0.9em;
}