.master-nav {
  padding-top: 3em;
}

.master-nav a {
  color: var(--textColor);
}
.master-nav .router {
  color: var(--colorPrimary);
}
.urja-no-footer {
  padding-top: 2em;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
img {
  height: 2.9em;
}
.master-head {
  margin-top: 2em;
  background: url(../../assets/master-header.jpg) center center no-repeat;
  background-size: cover;
  height: 265px;
  width: 100%;
}
.master-head div {
  background-color: var(--colorPrimaryTint);
  height: 100%;
}
.title-master-head {
  font-family: "Oswald";
  font-weight: 400;
  color: var(--colorPrimary);
  padding: 0;
  line-height: 1.2em;
}
.info-master {
  background-color: var(--cardsAqua);
  padding: 1em 0;
}
.elementos-row {
  display: grid;
  grid-template-columns: 10% 1fr;
  justify-content: start;
  align-items: center;
  padding-bottom: 1em;
}
.elementos-row span {
  padding-left: 1em;
}
.elementos-row i {
  text-align: center;
  font-size: 1.5em;
  color: var(--btnPpal);
}
.nav-master {
  padding: 1em 0;
}
.container-nav-master-grid p {
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
p.select_active {
  font-weight: bold;
  transition: 0.3s;
}
.div.hr-yellow {
  border: 1px solid var(--btnPpal);
}
.hr-blue {
  border: 1px solid var(--textColor);
}
.container-nav-master {
  display: none;
  animation: slide-up 0.5s ease;
}
.container-nav-master {
  animation: slide-up 0.5s ease;
}

.is-toggle {
  animation: slide-up 0.5s ease;
}

@keyframes slide-up {
  0% {
    height: 0;
    opacity: 0.5;
    transform: translateY(100%);
  }

  100% {
    height: 100%;
    opacity: 1;
    transform: translateY(0%);
  }
}

.container-nav-master p {
  padding: 1em 0;
}
#more-info-yellow-100 {
  padding-top: 4em;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
}
#more-info-yellow-100 a {
  width: 100%;
  font-size: 0.8em;
}
.text-subtitle {
  color: var(--colorPrimary);
  font-weight: 600;
}
.adds.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--cardsAqua);
  font-family: "Oswald";
  justify-content: start;
  align-items: flex-start;
  padding: 0.7em 0.4em;
  border-radius: 10px;
  color: var(--colorPrimary);
  height: auto;
  padding-bottom: 1.5em;
}
.adds.card h1,
.adds.card h3 {
  margin: 0;
}
.adds.card h1 {
  font-weight: 500;
  font-size: 1.8em;
}
.adds.card h3 {
  font-weight: 500;
  width: 80%;
  font-size: 1em;
}
.subscribete {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1em;
  color: var(--textColor);
  text-align: center;
  margin-bottom: -0.4em;
}
.subscribete a {
  font-family: "Montserrat";
  color: var(--colorPrimary);
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--colorPrimary);
  padding: 0;
}

.container-text-for-whom {
  background-color: var(--cardsAqua);
  margin: 0em;
  height: auto;
  clip-path: polygon(0% 0%, 100% 8%, 100% 100%, 100% 75%, 100% 100%, 0% 100%);
}
.container-text-for-whom .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.container-text-for-whom h1 {
  font-family: "Oswald";
  font-weight: 500;
  margin: 0;
  padding-top: 1em;
  font-size: 1.6em;
  color: var(--colorPrimary);
}
.container-text-for-whom p {
  margin-top: -0.4em;
}

.img-profile.uno {
  background: url(../../assets/profile-admision.jpg) center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 96%);
  text-align: center;
  padding-top: 0.4em;
  height: 340px;
}
.img-profile.uno img {
  height: 340px;
}
.container-mini-stats {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  color: var(--colorPrimary);
}
.container-mini-stats > h1,
h4,
p {
  margin: 0;
}
.container-mini-stats h1 {
  font-weight: 500;
  font-size: 2.5em;
  font-family: "Oswald";
}
.container-mini-stats h4 {
  font-family: "Oswald";
  font-size: 1.5em;
  font-weight: 500;
}
.container-mini-stats p {
  font-size: 0.8em;
  font-weight: 400;
}

.contact-section {
  padding-top: 2em;
}
.container-contact {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  color: var(--colorPrimary);
}
.container-contact i {
  font-size: 1.2em;
}
.colum-2 {
  font-size: 1em;
  font-weight: 400;
}
.container-newsletter {
  height: 13em;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}
.container-newsletter h1 {
  font-family: "Oswald";
  font-weight: 500;
  color: var(--colorPrimary);
  height: auto;
  padding: 0em;
  margin: 0;
  font-size: 2em;
  display: flex;
  align-items: center;
}
.container-newsletter h1,
.container-newsletter p {
  padding: 0;
  margin: 0;
}
.container-newsletter p {
  font-size: 1em;
  font-weight: 400;
  width: 90.5%;
}
.container.btn-input {
  display: grid;
  grid-template-columns: 89% 15%;
  align-items: center;
}

.container-btn {
  width: 100%;
}
.container-newsletter input {
  border-radius: 0.5em;
  border: transparent;
  box-shadow: 2px 2px 10px rgb(194, 194, 194);
  height: 2em;
  padding: 0em 1em;
  font-style: oblique;
  font-family: Montserrat;
  font-size: 0.9em;
  width: 80%;
}
.container-btn {
  background-color: var(--colorPrimary);
  border-radius: 10px;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-nws {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 2em;
}
#btn-nws:hover {
  cursor: pointer;
}
section.sugerencias {
  padding-top: 1.5em;
  padding-bottom: 4em;
}
.container-sug {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--colorPrimary);
  border-radius: 9px;
  color: var(--colorPrimary);
}
.container-sug i {
  font-size: 1.2em;
}
.container-sug > * {
  padding: 0 0.4em;
}
.container-sug > span {
  font-weight: bold;
  font-size: 0.85em;
}
.p-2 {
  padding: 2em 0;
}
.container-logos-emp {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logos-company {
  padding: 1em 0;
  height: auto;
  text-align: center;
}
.logos-company.row-2 {
  display: flex;
  justify-content: center;
  flex-grow: 1em;
  margin-top: -2em;
}
.logos-company.row-2 > img {
  margin: 0 0.2em;
}
.container-logos-emp img {
  padding: 1em 0.2em;
  text-align: center;
  height: 100px;
}

.container-iframe {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.container-iframe iframe {
  margin: auto;
}
table {
  padding: 0 1em;
  font-weight: 300;
  margin: auto;
}
table th {
  margin: 0 3em;
  padding: 1em;
}
table tr {
  text-align: center;
  color: black;
}
table td {
  margin: 0 3em;
}
table th {
  border-bottom: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
}
table th:nth-child(1),
table td:nth-child(1) {
  text-align: left;
  padding: 0;
}
tr:nth-child(even) {
  background-color: var(--cardsAqua);
  border: 3px solid red;
  padding: 0 -1em;
}
tr:nth-child(odd) {
  background-color: white;
  padding: 0 -1em;
}
.bluee {
  border: 1px solid red;
}
tr.select-tr {
  background-color: var(--textColor);
  font-weight: 400;
  font-size: 0.98em;
  color: var(--colorPrimary);
  transition: 0.2s;
}
.head-nav-master-cuatro {
  font-size: 2em;
}
.container-nav-master.cuatro h1 {
  color: var(--colorPrimary);
  font-family: "Oswald";
  font-weight: 600;
}
#t-monset {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2em;
}
.indent {
  text-indent: 1em;
}
.text-indent {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.text-indent p {
  padding: 1em 0;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

/* cuatro */
.img-profile.cuatro {
  background: url(../../assets/pagando-min.jpg) center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 96%);
  text-align: center;
  padding-top: 0.4em;
  height: 340px;
}
.img-profile img {
  height: 340px;
}
.text-pago p {
  margin: 0 auto;
  padding: 0.3em;
}
.text-pago h1 {
  padding: 0.5em 0;
}
div.container-nav-master.seis.active  div:not(.personal-acdemico-linke) > span{
  font-weight: 300;
  font-size: .9em;
}

.header-desp {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 0.5em 0;
  color: var(--colorPrimary);
}

.containers-ia-desp i {
  font-size: 1.3em;
}
.header-desp p{
  font-weight: 300;
  font-size: .8em;
}
.container-perfiles{
  
  width: 100%;
}
.container-info{
 
  width: 100%;
}
.personal-acdemico-linke{
  width: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: .8em;
  padding: 1em 0;
  text-indent: 1em;
} 
.personal-acdemico-linke i{
  color: var(--textColor);
  font-size: 1em;
}
.no-display {
  width: auto;
  height: auto;
  position: relative;
  animation: expand 0.6s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  from {
    top: -40px;
  }
  to {
    top: 1px;
  }
}
#selected-desple{
  font-weight: bold;
  font-size: 1em;
}
/* #personal-academico{
  width:auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
} */
