@import url("./header.css");
@import url("./presentation.css");
@import url("./mision.css");
@import url("./areas.css");
@import url("./about.css");
@import url("./news.css");
@import url("./agenda.css");
@import url("./footer.css");
@import url("./noti-news.css");
@import url("./iunity.css");
@import url("./admision.css");
@import url("./master.css");
@import url("./programas.css");
@import url("./contacto.css");
@import url("./responsive.css");
:root {
  --colorPrimary: #203354;
  --colorPrimaryTint: #283ba757;
  --colorPrimaryHover: #4c5c81;
  --navAboutColor: rgb(255, 255, 255);
  --btnPpal: #f9bd4b;
  --btnPpal-transpa: #f9bc4be1;
  --blueAquaTra: #f7faff;
  --blueAquaTransp: #d8eeff75;
  --textColor: #b1dcff;
  --helpHover: #ffe680;
  --colorDate: #646363;
  --cardsAqua: #eff8ff;
  --colorCardTech: #FBD1B8;
  font-size: 18px;
}
body {
  width: 100%;
  margin: auto;
  font-family: Montserrat;
}

.is-hidden {
  height: 0;
  position: relative;
  animation: collapse ease-in-out 0.3s;
  animation-fill-mode: both;
}
@keyframes collapse {
  from {
    top: 1px;
  }
  to {
    top: -40px;
    font-size: 0em;
    opacity: 0;
  }
}
/*DASH*/

.grid.mini-dash {
  margin-top: 6em;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.grid.mini-dash .dash {
  color: var(--colorPrimary);
  padding: 1.2em 0;
}
.dash h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}
.dash p {
  margin-top: -0.15em;
  font-size: 1.1em;
  font-weight: 400;
}

.mini-dash .title-yellow {
  padding-top: 2em;
}
.quote-movil {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 400;
  height: 265px;
  width: 100%;
  background: url("../../assets/quote.png") center center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.quote-movil p {
  font-size: 0.8em;
  margin: 1em;
}

.container-logos {
display: flex;
justify-content: space-around; 
  opacity: 0.4;
}

.container-title-yellow {
  display: grid;
  grid-template-columns: 1fr;
}
.title-yellow {
  margin: auto;
  display: grid;
}
.title-yellow > h2 {
  height: 0.2em;
  width: inherit;
  padding: 0;
  font-family: "Oswald";
  font-size: 1.8em;
  color: var(--colorPrimary);
}
hr.yellow {
  border: 3px solid var(--btnPpal);
  background-color: var(--btnPpal);
  width: calc(100% - 5px);
}
.m-90 {
  width: 90%;
  margin: auto;
}

.container-pag ul li {
  border: 1px solid red;
  display: flex;
}

.header-menulist {
  background: var(--btnPpal-transpa);
  height: auto;

  position: fixed;
  z-index: 1;
  padding-top: 5em;
  width: 100%;
  margin: 0;
  transition: 0.5s;
}
.no-visible {
  display: none;
  width: 100%;
  margin: auto;
}
/* @keyframes collapse {
  0% {
    height: 0;
    overflow: hidden;
    opacity: 0;
    top: 0px;
  }
  100% {
    height:auto;
    overflow: visible;
    opacity: 1;
    top: 90px;
  }
}*/
@keyframes courtain-down {
  from {
    top: auto;
  }
  to {
    top: -0;
    opacity: 0;
  }
}
.container-list {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
}
.container-list a {
  text-indent: 1em;
  text-decoration: none;
  padding: 0.7em 0;
  color: var(--colorPrimary);
  font-size: 0.9em;
}
a.no-bold {
  font-weight: 300;
}
a.bold {
  font-weight: bold;
}
.container-list a:visited {
  color: var(--colorPrimary);
}
#btn-menu {
  padding: 0;
  margin: 0;
  padding: 2em 0;
  font-weight: 300;
}
#btn-menu > a {
  font-weight: 300;
}

.btn-btn-call{

}
.btn-btn-call a{
  background-color: var(--colorPrimary);
  text-decoration: none;
  color: white;
  padding: .5em;
  border-radius: 6px;
  font-weight: 400;
}